.navbar{
    background-color: rgb(24, 73, 233);
    color: rgb(0, 34, 230);
    padding: 10px;
    width: 100%;
    height: 67px;

    
}
.mainDiv{
    margin-left: 63%;
    font-size: 20px;
    padding-top: 20px;
}
.Link{
    color : rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}
